addons:
    apt:
        sources:
            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
        packages:
            - clang-3.7
            - g++-5
            - gcc-5
            - autoconf
            - autotools-dev
            - bison
            - debhelper
            - dpkg-dev
            - flex
            - libasound2-dev
            - libavformat-dev
            - libgtk2.0-dev
            - libgtkglext1-dev
            - libieee1284-3-dev
            - libjpeg-dev
            - libpng-dev
            - libpulse-dev
            - libreadline-dev
            - libswscale-dev
            - libtwolame-dev
            - libvte-dev
            - xfonts-utils
            - libc6-dev
            - libstdc++6-4.6-dev

language: c

before_install:
 - if [ "$CC" = "gcc" ]; then export CC="gcc-5"; fi
 - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
 - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.7" CC="clang-3.7"; fi

install:
 - ./autogen.sh
 - ./configure --enable-gnomeui --enable-ethernet --enable-fullscreen
 - make
